<div class="row">
  <div class="col-md-12">
    <h1>Задения <%= link_to 'Создать новое заведение', 
    new_shop_path, class: 'btn btn-success' %></h1>
  </div>
</div>

<hr>

<table class="table table-striped">
  <tr>
    <th>Фото</th>
    <th>Название</th>
    <th>Категория</th>
    <th>Действия</th>
  </tr>

  <% @shops.each do |shop| %>
      <tr>
        <td>
          <% if shop.main.attached? %>
            <%= image_tag shop.main, size: 100 %>
          <% end %>
        </td>
        <td><%= link_to shop.name, shop_path(shop) %></td>
        <td><%= link_to shop.category.name category_path(category) %></td>
        <td>
          <%= link_to 'Просмотр', shop_path(shop) %>
        </td>
      </tr>
  <% end %>

</table>