<h1><%= @shop.name %></h1>
<p>
    Каегория: <%= link_to @shop.category.name, category_path(category) %>
</p>
<p><%= @shop.description %></p>

<% if @shop.picture.attached? %>
    <%= image_tag @shop.main, size: 100 %>
<% end %>

<div>
    <%= link_to 'Назад', shops_path %>
</div>
